name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: DerZade/gh-action-build-hemtt-mod@master
    - name: Build mod
      run: ./tools/hemtt build --release --force --opts all
